<!DOCTYPE html>
<html lang="en" ng-app="WhatsCookingapp">
<head>
	<meta charset="utf-8" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="msapplication-tap-highlight" content="no" />
	<!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
	<link rel="stylesheet" type="text/css" href="css/swiper.min.css" />
	<link rel="stylesheet" type="text/css" href="css/index.css" />

	<title>What's Cooking? - Login</title>
	<base href="/www/">
</head>
<body class="light-green lighten-5" ng-controller="LoginCtrl">

	<header>
		<nav class="light-green">
		  <ul id="slide-out" class="side-nav">
			<div id="menu-user-account" class="light-green">
				<img src="img/me.png" class="circle responsive-img center-align" width="75px">
				<h5>Welcome, Mike!</h5>
			</div>
			<div id="main-navigation">
			<li><a href="index.html"><i class="mdi-action-home left small"></i>Home</a></li>
			<li><a href="search.html"><i class="mdi-action-search left small"></i>Search</a></li>
			<li><a href="saved.html"><i class="mdi-action-favorite left small"></i>Saved Recipes</a></li>
			<li><a href="list.html"><i class="mdi-editor-format-list-numbered left small"></i>Shopping List</a></li>
			<li><a href="edit.html"><i class="mdi-action-face-unlock left small"></i>Edit Profile</a></li>
			<hr/>
			<li><a href="settings.html"><i class="mdi-action-settings left small"></i>App Settings</a></li>
			<li><a href="about.html"><i class="mdi-action-info left small"></i>About App</a></li>
			</div>
		  </ul>
		  <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
		  <div class="center-align" id="page-title">Login</div>
		</nav>
	</header>

	<main>
		<div class="row">
			<div class="input-field col s12">
        <input id="username-login" type="text" class="validate"  ng-model="login_username">
        <label for="username-login">Username</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
        <input id="password-login" type="password" class="validate" ng-model="login_password">
        <label for="password-login">Password</label>
			</div>
		</div>
		<div class="row">
			<div class="center-text col s12">
				<a class="waves-effect waves-light btn" id="login" ng-click="login()" ng-model="login_btn">Login</a>
			</div>
		</div>
		<div class="row">
			<div class="center-text col s12">
				<a class="waves-effect waves-light btn" ng-click="loggedIn()"> Who's Logged in</a>
			</div>
		</div>
	</main>

	<footer class="light-green">
		<ul>
			<li><a href="search.html"><i class="mdi-action-search"></i></a></li>
			<li><a href="saved.html"><i class="mdi-action-favorite"></i></a></li>
			<li><a href="list.html"><i class="mdi-editor-format-list-numbered"></i></a></li>
			<li><a href="edit.html"><i class="mdi-action-face-unlock"></i></a></li>
		</ul>
	</footer>

	<!-- <script src="//www.parsecdn.com/js/parse-1.3.5.min.js"></script> -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.js"></script>
	<script type="text/javascript" src="js/parse-1.3.4.min.js"></script>
	<script src="js/Ang/app.js"></script>
  	<script src="js/Ang/services.js"></script>
	<script type="text/javascript" src="cordova.js"></script>
	<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>
	<script type="text/javascript" src="js/swiper.jquery.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<!-- <script type="text/javascript" src="js/parse.js"></script> -->
</body>
</html>
