<configuration>
  <system.webServer>
    <httpErrors>
      <remove subStatusCode="-1" statusCode="500" />
      <remove subStatusCode="-1" statusCode="404" />
      <error prefixLanguageFilePath="" path="/Error//http-error.cgi?500=1" responseMode="ExecuteURL" statusCode="500" />
      <error prefixLanguageFilePath="" path="/Error//http-error.cgi?404=1" responseMode="ExecuteURL" statusCode="404" />
    </httpErrors>
  </system.webServer>
</configuration>
